body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

*, *::before, *::after {
  cursor: inherit !important;
}

a, button, .ant-btn, .ant-menu-item,
.ant-select-selector, .ant-pagination-item,
.ant-dropdown-trigger, .ant-tabs-tab {
  cursor: pointer !important;
}

input, textarea, .ant-input, .ant-input-affix-wrapper input {
  cursor: text !important;
}